<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>AngularTS</title>
      <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
      <script type="module" src="/src/index.js"></script>
      <script> document.addEventListener("DOMContentLoaded", () => {
          class Todo {
            constructor(task) {
              this.task = task;
              this.done = false;
            }
          }
          class TodoController {
            constructor($element) {
              this.greeting = "Todos";
              this.counter = 123
              this.name = "dfsf"
              this.model = {
                name: "John",
                lastName: "Doe"
              }
              this.tasks = [
                new Todo("Learn AngularTS"),
                new Todo("Build an AngularTS app"),
              ];
              window.test = this
              setInterval(() => { 
                window.test = $element.controller()
              }, 100);
            }

            increase() {
              console.log(this)
              this.counter++
              
            }

            /**
             * @param {String} task
             * @return {void}
             */
            add(task) {
              this.tasks.push(new Todo(task));
            }

            /**
             * Delete all finished tasks
             * @return {void}
             */
            archive() {
              this.tasks = this.tasks.filter((task) => !task.done);
            }
          }

          class Demo {
            constructor() {
              this.test = "DemoCtrl"
            }
          }
          window.angular.module("todo", [])
            .controller("TodoCtrl", TodoController).controller("DemoCtrl", Demo);
        });
      </script>
    </head>
    <body ng-app="todo">
      <div id="2" ng-controller="TodoCtrl" >
       <input type="text" ng-model="name" />
        {{ name }}
        
      </div>

      <input type="checkbox" ng-model="hide"/>
      <div ng-if="hide">SHOW? {{ hide }} </div>
    </body>
</html>
