<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>AngularTS</title>
      <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
      <script type="module" src="/src/index.js"></script>
      <script> document.addEventListener("DOMContentLoaded", () => {
          class Todo {
            constructor(task) {
              this.task = task;
              this.done = false;
            }
          }
          class TodoController {
            constructor($element) {
              this.greeting = "Todos";
              this.counter = 123
              this.name = "dfsf"
              this.model = {
                name: "John",
                lastName: "Doe"
              }
              this.tasks = [
                new Todo("Learn AngularTS"),
                new Todo("Build an AngularTS app"),
              ];
              window.test = this
              setInterval(() => { 
                window.test = $element.controller()
              }, 100);
            }

            increase() {
              console.log(this)
              this.counter++
              
            }

            /**
             * @param {String} task
             * @return {void}
             */
            add(task) {
              this.tasks.push(new Todo(task));
            }

            /**
             * Delete all finished tasks
             * @return {void}
             */
            archive() {
              this.tasks = this.tasks.filter((task) => !task.done);
            }
          }

          class Demo {
            constructor() {
              this.test = "DemoCtrl"
            }
          }
          window.angular.module("todo", [])
            .controller("TodoCtrl", TodoController).controller("DemoCtrl", Demo)
            .run(($rootScope) => {
              $rootScope.model = [
                { name: "a", item: ["a1", "a2"] },
                { name: "b", item: ["b1", "b2"] },
              ];
            });
        });
      </script>
    </head>
    <body ng-app="todo" ng-init="hide = false">
      <div id="2" ng-controller="TodoCtrl as $ctrl" >
       <input type="text" ng-model="$ctrl.greeting" />
        Greeting {{ $ctrl.greeting }}
        
      </div>

     
      <input type="checkbox" ng-model="hide"/>
      <div ng-if="hide">SHOW? {{ hide }} </div>
      {{ hide }}
      <input type="text" ng-model="greeting" />
      {{ greeting }}

      <div>
        <div ng-repeat="m in model" name="{{m.name}}">
         <ul name="{{i}}" ng-repeat="i in m.item">{{i}}</ul>
        </div>
      </div>
    </body>
</html>
